<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE37CED41D18887F0008AF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE37CEEC1D18887F0008AF4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECC2FB61D1D950C00AB2915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECC2FC61D1D969F00AB2915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FECC2FDE1D202E0D00AB2915</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
